main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

img {
    height: 220px;
    border: 1px;
    color: black;
    border-style: solid;
    border-radius: 9px;
}

img:hover {
    box-shadow: 0 0 0 10px rgb(255, 117, 117)
}

img:active {
    box-shadow: 0 0 0 10px hsl(0, 100%, 45%)
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 80%;
}

caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top:12px;
}

li {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
